@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@plugin "../plugins/tailwindcss/userValidation.ts";

@utility container {
	@media (min-width: 1980px) {
		max-width: 1980px;
	}
}

@theme {
	/* breakpoints */
	--breakpoint-2xs: 380px;
	--breakpoint-xs: 480px;
	/* colors */
	--color-brand-1: #de9f17;
	--color-brand-2: #cf9a15;
	--color-brand-3: #fff68a;
	--color-brand-4: #ffcf45;
}
